<div class="hot-questions card">
  <div class="card-body">
    <h5 class="card-title">Hot Questions</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">What's the appropriate word to say you're dazzled by a nice smell?</li>
      <li class="list-group-item">How to structure a good research paper?</li>
      <li class="list-group-item">How can I improve my academic writing skills?</li>
    </ul>
  </div>
</div>
