<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Forum</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> 
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Post</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Current users</a></li>
      </ul>
      <form class="d-flex search-bar">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <a href="/login.html" class="btn btn-outline-light">Login</a>
    </div>
  </div>
</nav>

<script>
  // 모든 nav-link 요소들을 선택
  const navLinks = document.querySelectorAll('.nav-link');

  // 각 nav-link 요소에 이벤트 리스너를 추가
  navLinks.forEach(link => {
    link.addEventListener('mouseover', () => {
      // 마우스를 올리면 active 클래스를 추가
      link.classList.add('active');
    });

    link.addEventListener('mouseout', () => {
      // 마우스가 벗어나면 active 클래스를 제거
      link.classList.remove('active');
    });
  });
</script>