<!-- {% extends "post_list.njk" %} -->
<div class="list-container">
  {% for item in questions %}
    <div class="list-item">
      <h5>{{ item.title or item.name }}</h5>
      <p>{{ item.description or item.points }} {{ item.meta or '' }}</p>
    </div>
  {% endfor %}
</div>
<!--{% block items %}
  {% set items = questions %}
{% endblock %}-->