<div class="top-users card mb-4">
  <div class="card-body">
    <h5 class="card-title">Top Users of the Week</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item user-item">
        <div class="user-info">
          <img src="https://via.placeholder.com/40" alt="User avatar">
          <span>Simoka</span>
        </div>
        <span>2,175</span>
      </li>
      <li class="list-group-item user-item">
        <div class="user-info">
          <img src="https://via.placeholder.com/40" alt="User avatar">
          <span>Felipe del</span>
        </div>
        <span>2,083</span>
      </li>
      <li class="list-group-item user-item">
        <div class="user-info">
          <img src="https://via.placeholder.com/40" alt="User avatar">
          <span>Israel Lima</span>
        </div>
        <span>1,792</span>
      </li>
    </ul>
  </div>
</div>
